.control{
  width: 80px;
  margin-top: 50px;
}
.traffic-light{
  width: 100px;
  height: 100px;
  margin-left: 150px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5989b;
}

.traffic-light .light{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: antiquewhite;
}

.go{
  background-color: #ccd5ae !important
}

.caution{
  background-color: #f2cc8f !important
}

.stop{
  background-color: #f07167 !important
}