@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
}
.input-sign{
  position: relative;
  top: 30px;
  left: 15px;
}

.input-text{
  text-align: right;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
}

.input-text::placeholder{
    color: hsl(183, 100%, 15%);
  }

.button-item{
  width: 50%;
}

@media (min-width:765px){
  .button-item{
    width: 33%;
  }
}

button:active{
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

